<template>
    <div class="row">
        <div v-if="isLoading">Loading Pages...</div>
        <div v-else>
            <div class="col-sm-9 card">
                <div class="card-header ">
                    <h4 class="mt-0 header-title">Pages</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group mb-3">
                                <span id="basic-addon1" class="input-group-text">Filter Pages Options</span>
                                <select v-model="filterItems.event" class="form-control form-inline"
                                        required style="width: 240px;">
                                    <option selected>Filter Page</option>
                                    <option v-for="(filter, index ) in filterItems" v-bind:key="index"
                                            :value="filter.event">{{ filter.event }}
                                    </option>
                                </select>
                            </div>

                        </div>
                        <div class="col-sm-4">

                            <button class="btn btn-info" @click="getEventList"><i class="fa fa-search"> </i> Filter
                                Pages
                            </button>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th> S.N</th>
                            <th> Colors</th>
                            <th> Logo</th>
                            <th> Header Title</th>
                            <th> Websites</th>
                            <th> Social Links</th>
                            <th> Action</th>
                        </tr>
                        <tbody>

                        <tr>
                            <td></td>
                            <td>
                                <ColorPicker v-model="inputs.color" :color="defaultColor"/>
                                <div v-if="allErrors && allErrors['title']" class="text-danger">
                                    {{ allErrors['title'][0] }}
                                </div>
                            </td>
                            <td>
                                <input class="form-control" type="file" @change="uploadFile"/>
                                <div v-if="allErrors && allErrors['image']" class="text-danger">
                                    {{ allErrors['image'][0] }}
                                </div>
                            </td>
                            <td>
                                <input v-model="inputs.title" class="form-control" type="text"/>
                                <div v-if="allErrors && allErrors['title']" class="text-danger">
                                    {{ allErrors['title'][0] }}
                                </div>
                            </td>
                            <td>
                                <input v-model="inputs.website" class="form-control" type="text"/>
                                <div v-if="allErrors && allErrors['website']" class="text-danger">
                                    {{ allErrors['website'][0] }}
                                </div>

                            </td>
                            <td>
                                <input v-model="inputs.social_link" class="form-control" type="text"/>
                                <div v-if="allErrors && allErrors['social_link']" class="text-danger">
                                    {{ allErrors['social_link'][0] }}
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-success " href="#" @click="saveRows"> Save </a> &nbsp;
                            </td>
                        </tr>

                        <tr v-for="(page,index) in items" :key="page.id">
                            <td> {{ index + 1 }}</td>
                            <td> {{ page.color }}</td>
                            <td><img :src="page.logo" :style="{height: '60px',width: '60px' }"></td>
                            <td>
                                <router-link :to="{ name: 'PageDetail', params: { id: page.id}  }">{{ page.title }}
                                </router-link>
                            </td>
                            <td> {{ page.website }}</td>
                            <td> {{ page.social_link }}</td>
                            <td><a class="btn btn-sm btn-danger" href="#" @click="alertDisplay(index, page.id)"> Delete
                                <font-awesome-icon icon="coffee"></font-awesome-icon>
                            </a></td>

                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {PagList, storePage, deletePage} from "../../Api";
import ColorPicker from '../ColorPicker.vue'

const config = {
    headers: {
        Accept: 'application/json',
        "Content-Type": "multipart/form-data"
    }
};
export default {
    name: "PageComponent",
    components: {
        ColorPicker,
    },

    data: function () {
        return {
            allErrors: null,
            isEmpty: false,
            isLoading: true,
            filterItems: [],
            items: [],
            inputs:
                {
                    social_link: '',
                    title: '',
                    image: '',
                    color: '',
                    website: '',

                },
            defaultColor: "#fff",
            progress: null,
            error: null,
        };
    },
    created() {
        this.getEventList();

    },
    methods: {
        async getEventList(data) {
            let filterType = {
                date: this.filterItems.event
            }
            this.isLoading = true;
            axios.all([
                axios.get(PagList, config)
            ])
                .then(axios.spread((...responses) => {
                        console.log(responses[0].data.data)
                        this.items = responses[0].data.data;
                    }
                ))
                .catch(error => {
                    console.log(error)
                })
                .finally(() => this.isLoading = false)
        },
        uploadFile(file) {
            this.inputs.image = file.target.files[0];
        },
        saveRows() {
            let data = new FormData();
            data.append('image', this.inputs.image);
            data.append('color', this.inputs.color);
            data.append('title', this.inputs.title);
            data.append('social_link', this.inputs.social_link);
            data.append('website', this.inputs.website);
            axios
                .post(storePage, data, {
                    headers: {
                        "Content-Type": "multipart/form-data"
                    }
                })
                .then(response => {
                    this.inputs = [];
                })
                .catch(error => {
                    console.log('error is', error.response.status);
                    if (error.response.status == 422) {
                        this.allErrors = error.response.data.errors
                    }
                    if (error.response.status == 500) {
                        this.$toasted.show('Somethings went wrongs', {
                            type: 'error',
                            theme: "outline",
                            duration: 5000
                        });
                    }
                })
                .finally(
                    () =>
                        this.getEventList()
                )
        },
        clearInputField() {

        },
        addRows() {
            this.show_input = true,
                this.inputs.push({
                    description: '',
                    title: '',
                    start_date: false,
                    end_date: '',
                });
        },

        removeInput(index, obj) {
            console.log(index);
            this.inputs.splice(index, 1);
        },
        deleteRow(index, invoice_product) {
            var idx = this.inputs.indexOf(invoice_product);
            console.log('delete row ', idx, index);
            if (idx > -1) {
                this.inputs.splice(idx, 1);
            }
        },
        deleteEventRemote(index, event_id) {
            console.log(index, event_id);
            this.loading = false
            axios
                .delete(deletePage + event_id)
                .then(response => {
                })
                .catch(error => {
                    console.log(error)
                })
                .finally(() => this.loading = false)
            this.items.splice(index, 1);
        },
        alertDisplay(index, event_id) {
            this.$swal({
                title: 'Are you sure to Delete Event?',
                text: 'You can\'t revert your Event',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes Delete Event!',
                cancelButtonText: 'No, Keep it!',
                showCloseButton: true,
                showLoaderOnConfirm: true
            }).then((result) => {
                if (result.value) {
                    this.deleteEventRemote(index, event_id)
                    this.$swal('Deleted', 'You successfully deleted this item', 'success')
                } else {
                    this.$swal('Cancelled', 'You choose cancel, No Delete operation done', 'info')
                }
            })
        },

    },
};

</script>
